body,html {
    width: 25rem;
    height: 35rem;
}

.form-check-input:checked {
    background-color: #5E17EB !important;
    border-color: #5E17EB !important;
}

.btn-purple, .btn-purple:active, .btn-purple:visited {
    background-color: #5E17EB !important;
    color: white !important;
}

.btn-purple:hover {
    background-color: #3f109e !important;
}

.tiny {
    font-size: 0.775em;
}
